@font-face {
   font-family: "Ubuntu-Medium";
   src: url("./assets/fonts/Ubuntu-Bold.ttf") format("ttf"),
}

*{
   padding: 0;
   margin: 0;
}
body{
   background-color: #eef5ff;
}
/* BODY */
.page {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   
}
/* WRAPPER PAGE */
.wrapper {
   position: relative;
   display: grid;
   background-color: white;
   grid-template-columns: 30% 70%;
   width: 130vh;
   height: 75vh;
   border-radius: 15px;
   box-shadow: 8px 9px 36px -20px rgba(153,141,153,1);
}

/* NAVBAR */
.child-1 {
   background: #483eff;
   position: relative;
   margin:18px;
   border-radius: 15px;
}


.buttons-list {
   display: grid;
   gap:20px;
   text-transform: uppercase;
}

.buttons-list {
   margin-top: 50px;
   width: 100%;
   height: 60px;
   font-size: 16px;
   font-family: 'Ubuntu-Medium', Arial, sans-serif;
}

.btn-nav {
   display: flex;
   margin-left: 15%;
   margin-bottom: 20px;
}

.step {
   color: white;
   font-weight: bold;
}

.step p{
   color: #a19fff;
   font-size: 15px;
   font-weight: 300;
   margin-bottom: 5px;
}
.numb {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid skyblue;
   color:white;
   width: 40px;
   height: 40px;
   border-radius: 30px;
   margin-right: 20px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR DECORATIONS */
.circle {
   position: absolute;
   z-index: 2;
   width: 85px;
   height: 170px;
   border-radius: 0 150px 150px 0;
   background-color: #ffa500;
   margin-bottom: 25px;
   bottom: 0;
}

.mount-purple{
   position: absolute;
   z-index: 1;
   background-color: red;
   width: 200px;
   height: 200px;
   bottom: 0;
}
/* FORM */
.child-2 {
   position: relative;
}

.form {
   background: red;
   margin-left: 100px;
  
}


